.header1 {
	background-color: gray;
	color: white;
	font-size: 150%;
	text-align: center;
}

.header1 a:link, a:visited {
	background-color: black;
	color: white;
	text-decoration: none;
}

.header1 a:hover, a:active {
	background-color: black;
	color: yellow;
	text-decoration: none;
}
